<%- include header %>
<ul style="list-style: none">
	<li><h3><a href="https://www.freecodecamp.cn/home" target="_blank">FreeCodeCamp</a></h3>自学前端</li>
	<li><h3><a href="http://wiki.jikexueyuan.com/" target="_blank">极客学院</a></h3>海量前沿技术</li>
</ul>
<%- include footer %>