<div class="sidebar" id="sidebar">
  <h2>前端资料汇总</h2>
  <ul class="nav nav-tabs" id="sidebarNav">
    <li class="active"><a href="javascript:0;">HTML</a></li>
    <li><a href="javascript:0;">CSS</a></li>
    <li><a href="javascript:0;">JS</a></li>
    <li><a href="javascript:0;">综合</a></li>
    <li><a href="javascript:0;">面试题</a></li>
  </ul>
  <div title="HTML">
    <ul class="list-unstyled">
      <li><a href="http://www.jianshu.com/p/565a69f574a8#" target="_blank">未来已到——HTTP/2</a></li>
      <li><a href="http://www.jianshu.com/p/a4a88f4612d9" target="_blank">什么阻塞了DOM？</a></li>
      <li><a href="http://www.jianshu.com/p/645fb5a3e585" target="_blank">浏览器渲染原理</a></li>
      <li><a href="http://www.jianshu.com/p/c459f9affefe" target="_blank">浏览器缓存知识</a></li>
      <li><a href="http://www.jianshu.com/p/a5713346ef59#" target="_blank">web工作方式</a></li>
      <li><a href="http://www.jianshu.com/p/705dcd60c264" target="_blank">也许，这样理解HTTPS更容易</a></li>
      <li><a href="http://www.jianshu.com/p/2f11cb68bf55" target="_blank">给你的独立博客加上夜间模式</a></li>
      <li><a href="https://segmentfault.com/bookmark/1230000002521721" target="_blank">HTTP API设计指南</a></li>
    </ul>
  </div>
</div>