
.normal {
  font-family: Georgia, sans-serif;
  padding: 8px 16px 0;
  text-align: center;
}

.title {
  font-size: 2.5rem;
  font-weight: normal;
  letter-spacing: -1px;
  margin-bottom: 8px;
}

.actionRow {
  text-align: left;
  margin: 8px 0;
  font-family: sans-serif;
}

.actionRow button+button {
  margin-left: 16px;
}

.actionCol {
  max-width: 208px;
}

.totalText {
  padding-right: 16px;
}

.progressCol {
  padding-left: 16px;
}

.progressCol>span {
  position: relative;
  top: 7px;
}

.progressCol>div {
  width: 20%;
  top: 5px;
  margin-right: 24px;
}

.times {
  padding: 0 16px;
}
